---
//export const prerender = true;
import MainLayout from "../../layouts/MainLayout.astro";
import { getEntry } from "astro:content";
import { formatDate } from "../../utils";
import Tags from "../../components/Tags.astro";

const { slug } = Astro.params;

if (!slug) {
  throw new Error("No slug found");
}

const entry = await getEntry("blog", slug);
if (!entry) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();

// FOR STATIC VERCEL SITE
// export async function getStaticPaths() {
//   const allBlogArticles = await getCollection("blog");
//   return allBlogArticles.map((entry) => ({
//     params: { slug: entry.slug },
//     props: { entry },
//   }));
// }

// const { entry } = Astro.props;
---

<MainLayout>
  <!-- <h2>{entry.data.title}</h2>
  <p>{formatDate(entry.data.pubDate)}</p>
  <p>{entry.data.description}</p> -->

  <a href="/articles">Back to articles</a>

  <div class="max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4">{entry.data.title}</h1>
    <p class="text-gray-600 mb-2">Publié le {formatDate(entry.data.pubDate)}</p>
    <p class="text-xl mb-6">{entry.data.description}</p>
    <p class="text-gray-700 mb-4">Auteur : {entry.data.author}</p>
    <Tags tags={entry.data.tags} />
  </div>

  <Content />
</MainLayout>
