---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils";
import Tags from "./Tags.astro";

const { article } = Astro.props;

interface Props {
  article: CollectionEntry<"blog">;
}
---

<div class="mx-auto mt-10">
  <div
    class="bg-white rounded-lg cursor-pointer overflow-hidden shadow-lg hover:scale-105 hover:shadow-xl transition duration-300 ease-in-out"
  >
    <a href={`/articles/${article.slug}`} class="block h-48">
      <img
        src={article.data.image.url.startsWith("http")
          ? article.data.image.url
          : "/images/" + article.data.image.url}
        alt={article.data.image.alt}
        class="w-full h-full object-cover hover:opacity-75 transition duration-300 ease-in-out"
      />
    </a>
    <div class="p-6 flex flex-col flex-grow">
      <h2 class="text-2xl font-semibold mb-2 line-clamp-2">
        <a href={`/articles/${article.slug}`}>{article.data.title}</a>
      </h2>
      <p class="text-gray-600 text-sm mb-4">
        {formatDate(article.data.pubDate)}
      </p>
      <Tags tags={article.data.tags} />
    </div>
  </div>
</div>
